* {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1746px;
    padding: 0px 15px;
    margin: 0 auto;
}

.d-none {
    display: none;
}

body {
    position: relative;
}

@import "variables";
@import "fonts";
@import "blocks/main";
@import "heading";
@import "buttons";
@import "gradient";