.calculator__calculations {
    &--admin {
        max-width: 1240px;
        margin: 0 auto;
        margin-top: 50px;
        @media (min-width: 1200px) {
            margin-top: 100px;
        }
    
        .calculator__blocks {
            @media (min-width: 979px) {
                grid-template-columns: repeat(2, minmax(auto, 491px));
            }
        }
    
        .calculator__block {
            margin-bottom: 15px;
            @media (min-width: 1200px) {
                max-width: 491px;
            }
        }
    
        .calculator__info {
            display: flex;
            flex-direction: column;
            
            @media (min-width: 1200px) {
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
            }
    
            .button {
                min-width: 185px;
                text-align: center;
                margin-top: 20px;
            }
        }
    
        .calculator__name {
            font-size: 16px;
        }
    
        .calculator__input {
            input {
                font-size: 14px;
            }
        }
    }
}